<app-navbar></app-navbar>
<div class="card">
  <p-toolbar styleClass="mb-4 gap-3">
    <ng-template pTemplate="left">
      <p-button
        severity="danger"
        label="Supprimer"
        icon="pi pi-trash"
        class="mr-2"
        (onClick)="deleteBills()"
        [disabled]="!selectedBills || !selectedBills.length"></p-button>
      <p-button
        severity="info"
        label="Paiement"
        icon="pi pi-receipt"
        (onClick)="showMakePayment()"
        [disabled]="!selectedBills || !selectedBills.length"></p-button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-button severity="help" (onClick)="printBills()" [disabled]="!selectedBills || !selectedBills.length" label="Export" icon="pi pi-upload"/>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="bills"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [globalFilterFields]="['name', 'address', 'telephone']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedBills"
    (selectionChange)="onSelectionChange($event)"
    [rowHover]="true"
    dataKey="id"

  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-1 text-xl text-primary">liste des clients</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" placeholder="Search..."/>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox/>
        </th>
        <th pSortableColumn="name" style="min-width: 15rem">
          Client
          <p-sortIcon field="Client"/>
        </th>
        <th pSortableColumn="telephone">
          Mois
          <p-sortIcon field="Mois"/>
        </th>
        <th pSortableColumn="address" style="min-width: 15rem">
          Année
          <p-sortIcon field="Annee"/>
        </th>
        <th pSortableColumn="active" style="min-width: 10rem">
          Montant
          <p-sortIcon field="Montant"/>
        </th>
        <th pSortableColumn="active" style="min-width: 10rem">
          Impayé
          <p-sortIcon field="impayé"/>
        </th>
        <th pSortableColumn="active" style="min-width: 10rem">
          Net a payer
          <p-sortIcon field="netToPay"/>
        </th>
        <th pSortableColumn="active" style="min-width: 10rem">
          Date Depot
          <p-sortIcon field="depositDate"/>
        </th>
        <th pSortableColumn="active" style="min-width: 10rem">
          Date Limite
          <p-sortIcon field="limitDate"/>
        </th>
        <th pSortableColumn="active" style="min-width: 10rem">
          Statut
          <p-sortIcon field="status"/>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-bill>
      <tr>
        <td>
          <p-tableCheckbox [value]="bill"/>
        </td>
        <td>
          {{ bill.customerName }}
        </td>
        <td>
          {{ bill.month }}
        </td>
        <td>
          {{ bill.year }}
        </td>
        <td>
          {{ bill.amount }}
        </td>
        <td>
          {{ bill.debt }}
        </td>
        <td>
          {{ bill.netToPay }}
        </td>
        <td>
          {{ bill.depositDate }}
        </td>
        <td>
          {{ bill.deadLine }}
        </td>
        <td>
          <p-tag [value]="getStatus(bill.status)" [severity]="getStatusSeverity(bill.status)"/>
        </td>
        <td>
          <p-button
            icon="pi pi-dollar"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (onClick)="openEdit(bill)"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (onClick)="deleteBill(bill)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>


  <!-- update user dialog  -->
  <p-dialog
    [(visible)]="updateBillDialog"
    [style]="{ width: '450px' }"
    header="Effectuer un nouveau paiement"
    [modal]="true"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">

      <div class="flex align-items-center justify-content-between mb-3">
        <div>Facture De:</div>
        <div class="font-bold md:font-light">{{ bill.customerName }}</div>
        <div class="font-bold md:font-light mr-2">{{ bill.month }} - {{ bill.year }}</div>
      </div>

      <div class="flex align-items-center justify-content-between mb-2">
        <div>Montant:</div>
        <div class="font-bold md:font-light mr-2">{{ bill.amount }}</div>
      </div>

      <div class="flex align-items-center justify-content-between mb-2">
        <div>Arriérés:</div>
        <div class="font-bold md:font-light mr-2">{{ bill.debt }}</div>
      </div>

      <div class="flex align-items-center justify-content-between mb-2">
        <div>montant net à payer:</div>
        <div class="font-bold mr-2">{{ bill.netToPay }}</div>
      </div>
      <p-divider />
      <div class="field mt-4">
        <label for="amount">Entrer le Montant</label>
        <input
          type="text"
          pInputText
          id="amount"
          [(ngModel)]="amount"
          required
          autofocus
        />
        <small class="p-error" *ngIf="submitted && !amount">
          Veuillez entrer le montant.
        </small>
      </div>
      <div class="field mt-4">
        <label for="observation">Ajouter un commentaire</label>
        <input
          type="text"
          pInputText
          id="observation"
          [(ngModel)]="commentaire"
          autofocus
        />
      </div>
      <p-dropdown
        [options]="paymentMethod"
        [(ngModel)]="selectedPaymentMethod"
        [checkmark]="true"
        optionLabel="name"
        [showClear]="true"
        placeholder="Choisir method de paiement" />
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        label="Cancel"
        icon="pi pi-times"
        [text]="true"
        (onClick)="hideUpdateBill()"
      />
      <p-button
        label="Save"
        icon="pi pi-check"
        [text]="true"
        (onClick)="makePayment()"
      />
    </ng-template>
  </p-dialog>

  <!-- make a new bill payment dialog  -->
  <p-dialog
    [(visible)]="savePaymentDialog"
    [style]="{ width: '450px' }"
    header="Effectuer un nouveau paiement"
    [modal]="true"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">

      <div class="field">
        <label for="paymentAmount">Entrer le montant</label>
        <input
          type="text"
          pInputText
          id="paymentAmount"
          [(ngModel)]="payment.paymentDate"
          autofocus
        />
        <small class="p-error" *ngIf="submitted && !payment.paymentAmount">
          Veuillez Entrer le montant.
        </small>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        label="Cancel"
        icon="pi pi-times"
        [text]="true"
        (onClick)="hidePaymentDialog()"
      />
      <p-button
        label="Save"
        icon="pi pi-check"
        [text]="true"
        (onClick)="makePayment()"
      />
    </ng-template>
  </p-dialog>
</div>
