<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--surface-600) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      ">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">

        <div class="text-center mb-8">
          <div class="text-900 text-3xl font-medium mb-4">mot de passe oublié!</div>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div>
            <div class="flex flex-column gap-2 mt-5">
              <label
                for="telephone"
                class="block text-900 text-xl font-medium mb-1"
              >Numéro de téléphone</label>

              <p-inputNumber
                id="telephone"
                inputId="integeronly"
                placeholder="Entrer le numéro de téléphone"
                inputStyleClass="w-full p-3 md:w-30rem"
                formControlName="telephone"
                maxlength="9"
                minlength="9"
                [ngClass]="{
                  'ng-invalid ng-dirty': submitted && f['telephone'].errors
                }"
                required/>

              @if (submitted && f['telephone'].errors) {
                @if (f['telephone'].errors!['required']) {
                  <small class="text-red-600">Veuillez saisir le numéro de téléphone </small>
                }
              }
            </div>

            <div class="flex flex-column gap-2 mt-5">
              <label for="newPassword" class="block text-900 font-medium text-xl mb-1">Nouveau mot de Passe</label>
              <p-password
                id="newPassword"
                formControlName="newPassword"
                placeholder="Entrer mot de passe"
                [toggleMask]="true"
                [feedback]="false"
                inputStyleClass="w-full p-3 md:w-30rem"
                [ngClass]="{
                  'ng-invalid ng-dirty': submitted && f['newPassword'].errors
                }"
                required></p-password>

              @if (submitted && f['newPassword'].errors) {
                @if (f['newPassword'].errors!['required']) {
                  <small class="text-red-600">Veuillez entrer le nouveau mot de passe</small>
                }
              }
            </div>

            <button
              pButton
              pRipple
              label="Changer"
              severity="info"
              [loading]="isLoading"
              [rounded]="true"
              class="w-full p-3 text-xl mt-5"
            ></button>

            <a
              class="flex align-items-start justify-content-start font-medium no-underline ml-2 text-right cursor-pointer mt-4"
              style="color: var(--primary-color)" [routerLink]="['/login']">retour</a>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
