<app-navbar></app-navbar>
<div class="card">
  <p-toolbar styleClass="mb-4 gap-3">
    <ng-template pTemplate="left">
      <p-button
        severity="danger"
        label="Supprimer"
        icon="pi pi-trash"
        class="mr-2"
        (onClick)="deleteBills()"
        [disabled]="!selectedBills || !selectedBills.length"></p-button>
      <p-button
        severity="info"
        label="Generer Facture"
        icon="pi pi-receipt"
        routerLink="/receipts/generate"
        [disabled]="!selectedBills || !selectedBills.length"></p-button>
    </ng-template>
  </p-toolbar>

  <app-bill-table [bills]="bills" (selectedBillsChange)="handleSelectedBillsChange($event)"></app-bill-table>



  <!-- make a new bill payment dialog  -->

</div>
